if TARGET_PISTACHIO_BUB

config SYS_BOARD
	default "pistachio_bub"

config SYS_VENDOR
	default "imgtec"

config SYS_CONFIG_NAME
	default "pistachio_bub"

endif

if TARGET_PISTACHIO_MARDUK

config SYS_BOARD
	default "pistachio_bub"

config SYS_VENDOR
	default "imgtec"

config SYS_CONFIG_NAME
	default "pistachio_marduk"

endif
