CONFIG_MIPS=y
CONFIG_TARGET_PISTACHIO_BUB=y
CONFIG_NETDEVICES=y
CONFIG_CMD_NET=y
CONFIG_MIPS_BOOT_FDT=y
CONFIG_DEFAULT_DEVICE_TREE="pistachio_bub"
CONFIG_DM_ETH=y
CONFIG_CMD_USB=y
CONFIG_MMC=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_LIB_RAND=y
CONFIG_SPL=y
